package ${package.Mapper};


import ${package.Entity}.${com.lph.spike.entity};
import com.baomidou.mybatisplus.core.com.lph.spike.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 *
 * $!{table.comment} Dao 接口
 *
 *
 * @author ${author}
 * @since ${date}
 */
@Mapper
public interface ${table.mapperName} extends BaseMapper<${com.lph.spike.entity}> {

}