package ${package.ServiceImpl};


import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.extension.com.lph.item.service.impl.service.impl.ServiceImpl;

import ${package.Entity}.${com.lph.item.service.impl.entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${table.serviceImplName} extends ServiceImpl<${table.mapperName},${com.lph.item.service.impl.entity}> implements ${table.serviceName}{


    @Autowired
    private ${table.mapperName} ${table.entityPath}Mapper;


}
